<footer>
<p>KabarVirus.com menyajikan perkembangan COVID-19 di Indonesia dengan penampilan ringan dan sederhana agar tidak menghamburkan kuota data. Kode sumber: <a href="https://github.com/ariya/kabarvirus" target="_blank">github.com/ariya/kabarvirus</a>.</p>

{{#stats}}
<p>Sumber data: <a href="https://inacovid19.maps.arcgis.com" target="_blank" rel="noopener noreferrer">BNPB</a>.
{{#updateTimestamp}}
Diperbarui: {{updateTimestamp}}.
{{/updateTimestamp}}
</p>
{{/stats}}

<p>Untuk informasi lebih lengkap: <a href="https://kawalcovid19.id/">Kawal COVID-19</a> dan <a href="https://bnpb.go.id">BNPB</a>.
Untuk penyebaran internasional: <a href="https://bing.com/covid">bing.com/covid</a> dan <a href="https://epidemic-stats.com">epidemic-stats.com</a>.</p>
</footer>
