<!DOCTYPE html><html lang="id">
<head>
<title>KabarVirus.com</title>
{{{include.meta}}}
<style>
{{{include.style-css}}}
</style>
<link rel="manifest" href="/manifest.json">
<script>{{{include.registerSW-js}}}</script>
</head>
<body>
{{{include.header}}}

<section id="stat">
<table>
<thead><tr><td>Positif</td><td>Sembuh</td><td>Meninggal</td></tr></thead>
<tbody>
<tr class="appear monospace">
<td><span class="box" id="infected">{{stats.numbers.infected}}</span></td>
<td><span class="box" id="recovered">{{stats.numbers.recovered}}</span></td>
<td><span class="box" id="fatal">{{stats.numbers.fatal}}</span></td>
</tr>
</tbody>
</table>
</section>
<script>{{{include.animation-js}}}</script>
<section id="details">
<table id="provinces" class="stripey">
<thead>
<tr>
<td id="filter"><input class="nodisplay" type="text" autocomplete="off" id="search" placeholder="Cari provinsi" spellcheck="false"></td>
<td>Positif</td><td>Meninggal</td></tr>
</thead>
<tbody>
{{#stats.regions}}
<tr id="{{id}}"><td><a href="{{url}}">{{name}}</a></td><td>{{numbers.infected}}</td><td>{{numbers.fatal}}</td></tr>
{{/stats.regions}}
</tbody>
</table>
<button type="button" id="selective" class="primary nodisplay"></button>
</section>
<script>{{{include.filter-js}}}</script>

{{#preview}}
<section class="news">
<p>Berita terkait (<a href="/berita">selengkapnya</a>):</p>
<ul>
{{#snippets}}
<li><a target="_blank" rel="noopener noreferrer" href="{{url}}">{{title}}</a></li>
{{/snippets}}
</ul>
</section>
{{/preview}}

{{#hoaxesCount}}
<section class="news">
<p>Awas berita hoaks (<a href="https://turnbackhoax.id">selengkapnya</a>):</p>
<ul>
{{#hoaxes}}
<li><a target="_blank" rel="noopener noreferrer" href="{{url}}">{{title}}</a></li>
{{/hoaxes}}
</ul>
</section>
{{/hoaxesCount}}

{{{include.footer}}}
</body>
</html>
