<!DOCTYPE html><html lang="id">
<head>
<title>KabarVirus.com</title>
{{{include.meta}}}
<style>
{{{include.style-css}}}
</style>
</head>
<body>
{{{include.header}}}
{{{include.footer}}}
</body>
</html>