<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
<meta name="description" content="Kabar Virus Corona COVID-19 di Indonesia">
<meta property="og:type" content="article">
<meta property="og:title" content="Kabar Virus">
<meta property="og:url" content="https://kabarvirus.com">
<meta property="og:description" content="Kabar COVID-19 in Indonesia">
<meta property="og:site_name" content="Kabar Virus">
<meta property="og:locale" content="id">
<link rel="dns-prefetch" href="//gc.zgo.at">