<!DOCTYPE html><html lang="id">
<head>
<title>KabarVirus.com</title>
{{{include.meta}}}
<style>
{{{include.style-css}}}
</style>
</head>
<body>

<p>&#x290E; Kembali ke <a href="/">beranda</a></p>

<section class="news">
<h2 class="appear">Himpunan berita terkait COVID-19</h2>
<ul>
{{#news}}
<li><a target="_blank" rel="noopener noreferrer" href="{{url}}">{{title}}</a></li>
{{/news}}
</ul>
</section>

<hr>
<p><small>Sumber berita: <a href="https://www.antaranews.com">Antara</a>, <a href="https://www.bbc.com/indonesia">BBC Indonesia</a>, <a href="https://www.cnbcindonesia.com">CNBC Indonesia</a>, <a href="https://cnnindonesia.com">CNN Indonesia</a>, <a href="https://intisari.grid.id">Intisari</a>, <a href="https://jawapos.com">Jawa Pos</a>, <a href="https://www.kompas.com">Kompas</a>, <a href="https://www.kontan.co.id">Kontan</a>, <a href="https://www.liputan6.com">Liputan6</a>, <a href="https://www.pikiran-rakyat.com">Pikiran Rakyat</a>, <a href="https://republika.co.id">Republika</a>, <a href="https://www.suara.com">Suara</a>, <a href="https://www.tempo.co">Tempo</a>, <a href="https://theconversation.com/id">The Conversation</a>, <a href="https://turnbackhoax.id/">turnbackhoax.id</a>, <a href="https://www.vivanews.com">Viva</a>.</small></p>

{{{include.footer}}}

</body>
</html>
