/* Standard elements */

html {
    margin: 0;
    padding: 0 .5em;
    background: #fff;
    color: #000;
    line-height: 1.5;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    padding: 0.25em;
    max-width: 780px;
}

h2 {
    font-size: 1.2em;
    color: #555
}

section {
    margin: .5em 0;
}

input[type=text] {
    -webkit-appearance: none;
    font-size: 1em;
    width: 100%;
    padding: 0.4em;
    border: 1px solid rgb(0, 0, 0, 0.2);
    border-radius: 4px;
}

button {
    margin: 1em 0;
    padding: 0.5em 1em;
    font-size: 0.833rem;
    border: 1px solid rgb(0, 0, 0, 0.2);
    border-radius: 4px
}

table {
    width: 100%;
    padding: .5em;
    border-spacing: 0;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    border: 1px solid #eee
}

table td {
    padding: 5px
}

address {
    font-style: normal;
}

footer {
    font-size: .833em;
    margin-top: 1.5em;
}

/* Generic modifiers */

.nodisplay {
    display: none
}

.monospace {
    font-family: Consolas, 'Roboto Mono', Monaco, Menlo, Courier, monospace
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

.appear {
    animation: appear .5s;
}

.home {
    text-decoration: none;
    font-weight: 800;
    font-size: 150%;
    position: absolute;
}

.box {
    padding: 4px 10px;
    border-radius: 4px;
    font-size: 125%;
    font-weight: 800;
    color: #555;
    border: 1px solid;
}

button.primary {
    background-color: #0074D9;
    color: #fff;
}

button.outline {
    background-color: #fff;
    color: #333
}

table.stripey tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Specific modifiers */

section#stat {
    text-align: center;
    line-height: 200%;
}

#infected {
    border-color: #ffd1b4;
    background-color: #ffeae0
}

#recovered {
    border-color: #91dcbd;
    background-color: #d3eee3
}

#fatal {
    border-color: #ffb4b4;
    background-color: #ffe0e0
}

input#search {
    max-width: 8em;
}

section#details table td:nth-child(2) {
    text-align: right;
}

section#details table td:nth-child(3) {
    text-align: right;
    font-weight: 700;
}

section#details table.selective tr {
    display: none
}

section#details table.selective tr:nth-child(-n+7) {
    display: table-row
}

section.news {
    margin-top: 1em;
    padding: 0 0.5em
}

section.news li {
    line-height: 1.8
}

section.news ul {
    line-height: 1.8;
    list-style: none;
    padding-left: 1em;
}

section.news ul, section.news li {
    text-indent: -0.4em;
    list-style-position: inside;
}

section.news li::before {
    content: "\203a";
    color: #777;
    display: inline-block;
    width: 0.4em;
    margin-left: 0;
}