name: Tests

on: [push, pull_request]

jobs:
  tests:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - uses: actions/setup-node@v1
      with:
        node-version: 16.x

    - run: npm ci

    - run: npm run build

    - run: npm test

